<footer class="padding-top-2 padding-bottom-2">
	<div class="container padding-bottom-1">
		<div class="row">
			<div class="col-md-3">
				<div class="h3 upper">Unternehmen</div>
				<ul>
					<li><a href="" title="">Über uns</a></li>
					<li><a href="" title="">Karriere</a></li>
					<li><a href="" title="">Kontakt</a></li>
					<li><a href="" title="">Datenschutzerklärung</a></li>
					<li><a href="" title="">AGB</a></li>
					<li><a href="" title="">Impressum</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="h3 upper">Einkaufen</div>
				<ul>
					<li><a href="" title="">Zahlungsarten</a></li>
					<li><a href="" title="">Versandarten</a></li>
					<li><a href="" title="">Widerrufsrecht</a></li>
					<li><a href="" title="">Warenkorb</a></li>
					<li><a href="" title="">Zur Kasse</a></li>
					<li><a href="" title="">Hilfe</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="h3 upper">Zahlung & Versand</div>
			</div>
			<div class="col-md-3">
				<div class="h3 uppercase">Sicherheit</div>
				<img src="{{ plugin_path("Theme") }}/images/footer-payment.png" alt="Zahlungsanbieter" />
			</div>
		</div>
	</div>
	
	<div div class="container">
		<div class="row">
			<div class="col-md-6">*Alle Preise inkl. gesetzlicher MwSt. zzgl. Versandkosten</div>
			<div class="col-md-6 text-right">&copy; 2016 Strese | Alle Rechte vorbehalten</div>
	</div>
</footer>