<footer class="padding-top-2">
	<div class="container padding-bottom-1">
		<div class="row">
			<div class="col-md-3">
				<div class="h3 upper margin-bottom-1">Unternehmen</div>
				<ul>
					<li><a href="" title="">Über uns</a></li>
					<li><a href="" title="">Karriere</a></li>
					<li><a href="" title="">Kontakt</a></li>
					<li><a href="" title="">Datenschutzerklärung</a></li>
					<li><a href="" title="">AGB</a></li>
					<li><a href="" title="">Impressum</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="h3 upper margin-bottom-1">Einkaufen</div>
				<ul>
					<li><a href="" title="">Zahlungsarten</a></li>
					<li><a href="" title="">Versandarten</a></li>
					<li><a href="" title="">Widerrufsrecht</a></li>
					<li><a href="" title="">Warenkorb</a></li>
					<li><a href="" title="">Zur Kasse</a></li>
					<li><a href="" title="">Hilfe</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="h3 upper margin-bottom-1">Zahlung & Versand</div>
				<div class="row">
					<div class="col-xs-6"><img class="img-fluid" src="{{ plugin_path("Theme") }}/images/paypal_plus.svg" alt="Paypal Plus" /></div>
					<div class="col-xs-6"><img class="img-fluid" src="{{ plugin_path("Theme") }}/images/sofortueberweisung.svg" alt="Sofortüberweisung" /></div>
				</div>
				<div class="row">
					<div class="col-xs-6"><img class="img-fluid" src="{{ plugin_path("Theme") }}/images/vorkasse.svg" alt="Vorkasse" /></div>
					<div class="col-xs-6"><img class="img-fluid" src="{{ plugin_path("Theme") }}/images/dhl.svg" alt="DHL" /></div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="h3 uppercase">Sicherheit</div>
			</div>
		</div>
	</div>
	<div class="bg-1 color-1 padding-top-1 padding-bottom-1">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">*Alle Preise inkl. gesetzlicher MwSt. zzgl. Versandkosten</div>
    			<div class="col-md-6 text-right">&copy; 2017 Strese | Alle Rechte vorbehalten</div>
    	</div>
	</div>
</footer>