@import url('https://fonts.googleapis.com/css?family=Montserrat');
body { color:#333333; background:#f6f6f6; font-family:'Montserrat', sans-serif; }
.text-right { text-align:right; }
* { -moz-osx-font-smoothing: grayscale; text-rendering: optimizelegibility; }
.h3, h3 { font-size:16px; }
.h-style-1 { letter-spacing:5px; text-shadow:none; color:#333333; font-size:28px; line-height:44px; }
.no-padding { padding: 0 !important; }
.block { display:block; }
.bg-1 { background:#FFFFFF; }
.bg-2 { background:#333333; }
.color-1, .color-1 * { color:#333333 !important; }
.relative { position:relative !important; }
.wrapper-main #page-body { margin-top:130px; }
.top-bar { background:#333333; } 
.top-bar .controls-list > li a { padding:1.1rem 1.2rem; color:#FFFFFF; }
.wrapper-main .navbar .navbar-nav .nav-item > .nav-link { min-width:auto !important; padding:20px 6px; border-right:none; color:#333333; text-transform:uppercase; }
.info-list { margin-bottom:0; }
footer { background:#333333; }
footer .h3 { letter-spacing:3px; }
footer * { color:#FFFFFF; }
footer ul { margin:0; padding:0; list-style:none; }
footer ul li { margin-bottom:4px; font-size:14px; }
.info-list li { padding:1.1rem 1.2rem; display:inline-block; font-size:0.8rem; }
.cmp-country-settings, .cmp-search-box { top:48px; }
.carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > img, .img-fluid { width:100%; }
.carousel-caption { left:50%; right:0; top:30%; bottom:auto; }
.carousel-caption h2 { letter-spacing:34px; font-size:40px; text-shadow:none; color:#333333; }
.carousel-caption p { text-shadow:none; color:#333333; }
.btn-primary { padding:12px 30px; background-color:#3d3d3d; border:none; font-size:14px; text-transform:uppercase; }
.wrapper-main .navbar { border-bottom:none; }
#newsletter { background:url("../images/home-teaser-newsletter.jpg") no-repeat 0 0 / 100% 100%; text-align:center; }
#newsletter form div { width:400px; height:43px; margin-left:-200px; position:relative; left:50%; }
#newsletter form div input { width:400px; height:43px; padding-right:102px; display:block; border:none; background:#FFF; text-indent:10px; }
#newsletter form div button { width:102px; height:43px; position:absolute; top:0; right:0; background:#333; border:none; color:#FFFFFF; }
.service-teaser, .service-teaser * { text-align:center; color:#FFFFFF; }
.spec-m-1 { margin-top:6px !important; }