@import url('https://fonts.googleapis.com/css?family=Montserrat');
body { color:#333333; background:#f6f6f6; font-family:'Montserrat', sans-serif; }
.text-right { text-align:right; }
* { -moz-osx-font-smoothing: grayscale; text-rendering: optimizelegibility; }
.h3, h3 { font-size:16px; }

.no-padding { padding: 0 !important; }
.block { display:block; }
.bg-1 { background:#FFFFFF; }
.color-1, .color-1 * { color:#333333 !important; }

.top-bar { background:#333333; } 
.top-bar .controls-list > li a { padding:1.1rem 1.2rem; color:#FFFFFF; }
.wrapper-main .navbar .navbar-nav .nav-item > .nav-link { min-width:auto !important; padding:20px 6px; border-right:none; color:#333333; text-transform:uppercase; }
.info-list { margin-bottom:0; }
footer { background:#333333; }
footer .h3 { letter-spacing:3px; }
footer * { color:#FFFFFF; }
footer ul { margin:0; padding:0; list-style:none; }
footer ul li { margin-bottom:4px; font-size:14px; }
.info-list li { padding:1.1rem 1.2rem; display:inline-block; font-size:0.8rem; }
.cmp-country-settings, .cmp-search-box { top:48px; }
.carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > img, .img-fluid { width:100%; }
.carousel-caption { left:60%; top:30%; bottom:auto; }